:root {
  --primary-color: #0a6fc2;
  --bg-color: #f8f8f8;
  --text-color: #606060;
  --neutral-color: #d3d3d3;
}

body {
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-width: 180px;
  background-color: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--text-color);
  padding: 0.75rem;
  padding-bottom: 1rem;
}

.hidden {
  display: none;
}

#popup-title {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

#current-rate-display {
  font-size: 3rem;
  text-align: center;
  color: var(--primary-color);
}

.slider {
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  outline: none;
  background-color: var(--neutral-color);
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--primary-color);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--primary-color);
  cursor: pointer;
}

.switch-container {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.switch-container > input[type='checkbox'] {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
  cursor: pointer;
}

.switch::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--neutral-color);
  border-radius: 15px;
  transition: 0.2s;
}

.switch::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  background-color: var(--bg-color);
  border-radius: 50%;
  transition: 0.2s;
}

.checkbox:checked + .switch::before {
  background-color: var(--primary-color);
}

.checkbox:checked + .switch::after {
  transform: translateX(12px);
}

#media-status-section {
  text-align: center;
}
